{% extends "base.html" %}
{% load static %}

{% block title %}Darul Fateh | Prayer Time{% endblock %}

{% block content %}

    <section class="page-title" style="background-image:url({% static 'assets/images/background/page-title.jpg' %})">
        <div class="auto-container">
            <h2>Prayer Time</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'admin_panel:index' %}">Home</a></li>
                <li>Prayer Time</li>
            </ul>
        </div>
    </section>

    <section class="prayer-time">
        <div class="auto-container">
            <div class="inner-container">
                {% comment %} <h3 class="prayer-time_title">Thodupuzha Prayer Times</h3> {% endcomment %}
                <div class="prayer-time_content">
                    Prayer Timings Updated Daily.
                </div>
                
                <div class="prayer-time_timing">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="bismillah">
                            <img src="{% static 'assets/images/icons/bismillah-3.png' %}" alt="" />
                        </div>

                        <div class="prayer-time_time">
                            <div class="title" id="next-prayer-name">Fajr</div>
                            <h2 style="font-size: 40px; color: var(--main-color); font-weight: 700; margin: 10px 0;" id="next-prayer-time">Loading...</h2>
                            <div class="time-countdown_subtitle">Next Prayer Time</div>
                        </div>

                        <div class="bismillah">
                            <img src="{% static 'assets/images/icons/bismillah-4.png' %}" alt="" />
                        </div>
                    </div>
                </div>

                <h3 class="prayer-time_title">Prayer Time in Thodupuzha, Kerala</h3>
                
                <div class="prayer-time_list">
                    <div class="prayer-daytime">Fajr <span id="fajr-time">Loading...</span></div>
                    <div class="prayer-daytime">Sunrise <span id="sunrise-time">Loading...</span></div>
                    <div class="prayer-daytime">Dhuhr <span id="dhuhr-time">Loading...</span></div>
                    <div class="prayer-daytime">Asr <span id="asr-time">Loading...</span></div>
                    <div class="prayer-daytime">Maghrib <span id="maghrib-time">Loading...</span></div>
                    <div class="prayer-daytime">Isha <span id="isha-time">Loading...</span></div>
                </div>

                <div class="makkah-timezone">Mecca is located approximately 4,000 km from Kerala.</div>

            </div>
        </div>
    </section>

    <section class="cta-two">
        <div class="auto-container">
            <div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
                <div class="cta-two_bg" style="background-image:url({% static 'assets/images/background/cta-one_bg.png' %})"></div>
                <div class="cta-two_icon flaticon-nabawi-mosque"></div>
                <h3 class="cta-two_heading">Proud to be serving thousands of Muslim <br> Families around the World</h3>
                <div class="cta-two_button">
                    <a href="{% url 'admin_panel:contact' %}" class="theme-btn btn-style-three">
                        <span class="btn-wrap">
                            <span class="text-one">Get in Touch</span>
                            <span class="text-two">Get in Touch</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
        });
    </script>

{% endblock %}